<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="msgCode2TypeFactory" class="net.flyingfat.common.serialization.protocol.meta.MsgCode2TypeFactory"></bean>
	<bean id="msgCode2Type" factory-bean="msgCode2TypeFactory"  factory-method="createMsgCode2Type" >
		<constructor-arg>
			<list>
				<value>net.flyingfat.common.biz.xip.*</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="httpRequestEncoder" class="net.flyingfat.common.http.codec.HttpRequestEncoder">
		<property name="encryptKey" value="${httpresp.body.encrypt.key}"></property>
		<property name="des" value="0"></property>
	</bean>

	<bean id="httpResponseDecoder" class="net.flyingfat.common.http.codec.HttpResponseDecoder">
		<property name="decryptKey" value="${httpreq.body.decrypt.key}" ></property>
		<property name="msgCode2Type" ref="msgCode2Type"></property>
	</bean>

</beans>